*{margin:0; padding:0;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


html {overflow-y: scroll;}
body {color:#000; height:100%;}
body, input, textarea {font-family:Arial, Helvetica, sans-serif; font-size:12px;}
img {border:0; vertical-align:middle;}
a {color:inherit; text-decoration:none;}
a:hover {text-decoration:none;}
:focus {outline:0;}

html, #wrapper {height:100%;}

body > #wrapper {height:auto; min-height:100%; margin:0; font-family: 'Hind Madurai', sans-serif;}

/* CLEAR FIX*/
.clearfix:after {content: "."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
*html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */

.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.show{display: block;}
.hide{display: none;}

h1,h2,h3,h4,h5,h6 {font-weight:300;}

ul, li {list-style:none;} fieldset {border:0;} textarea {resize:none;}
.wrap.error404 {padding: 50px;}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17,
.col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-lg-25{min-height:1px;position:relative;padding-right:20px;float:left;margin:0 0 20px;}
.col-lg-25{width:100%;}
.col-lg-24{width:96%;}
.col-lg-23{width:92%;}
.col-lg-22{width:88%;}
.col-lg-21{width:84%;}
.col-lg-20{width:80%;}
.col-lg-19{width:76%;}
.col-lg-18{width:72%;}
.col-lg-17{width:68%;}
.col-lg-16{width:64%;}
.col-lg-15{width:60%;}
.col-lg-14{width:56%;}
.col-lg-13{width:52%;}
.col-lg-12{width:48%;}
.col-lg-11{width:44%;}
.col-lg-10{width:40%;}
.col-lg-9{width:36%;}
.col-lg-8{width:32%;}
.col-lg-7{width:28%;}
.col-lg-6{width:24%;}
.col-lg-5{width:20%;}
.col-lg-4{width:16%;}
.col-lg-3{width:12%;}
.col-lg-2{width:8%;}
.col-lg-1{width:4%;}
.col-last{padding:0;}


.header { background-color: #fb7f36; width: 100%; height: 85px;  position: fixed; top: 0; bottom: 0; z-index: 1;  }

.menu { margin: 0 auto; width: 950px; height: 100%;  display: flex; justify-content: space-between; text-align: center;}
.menu figure img{ margin: 6px 0;}

.links { display: flex; justify-content: space-between;  margin: 37px auto;}
.links a { margin: 0px 30px; font-size: 18px; color: #ffffff;}
.links a:hover { font-weight: bold;}

.sociais { text-align: left;}
.sociais a {  font-size: 14px; color: #ffffff;}

.banner { background: url("../images/banner.jpg")top center no-repeat; background-size: cover; width: 100%; height: 635px; background-attachment: fixed; }

.footer { height: 295px; width: 100%; background-color: #fb7f36;}

.ultimo-jogo { width: 100%; height: 500px;}

.menu-footer { margin: 0 auto; width: 950px; height: 100%; text-align: center;}
.menu-footer figure img { margin: 25px 0;}

.sociais-footer { display: flex; justify-content: space-between; width: 80px; margin: -40px auto;}

.uniao { margin: 40px auto; text-align: center; font-size: 30px; font-weight: bold; color: #ffffff; }

.artilharia { padding: 30px 0; text-align: center;}
.artilharia .dados { margin: 0 auto; text-align: center;}

.ultimo-jogo { position: relative; width: 100%; background: url("../images/gramado.jpg"); background-size: cover; height: 770px; display: flex; justify-content: space-between;}
.ultimo-jogo .contador { position: relative;}
.ultimo-jogo .contador p { font-size: 80px; color: #ff5600; font-family: 'Baloo Thambi', cursive; margin: 0;}
.ultimo-jogo .contador #number { font-size: 190px; color: #ff5600; font-family: 'Baloo Thambi', cursive;}
.ultimo-jogo .contador { position: absolute; left: 28%; top: 24%; width: 600px; padding: 10px; background-color: #e1a15c; border: 2px solid #fb7f36; height: 400px; opacity: 0.7; }
.ultimo-jogo .centraliza { padding: 50px; text-align: center; padding: 50px; margin: 0 auto; width: 1324px; display: flex; justify-content: space-between; }

.ultimo-jogo .centraliza .wrap-fotos { width: 900px; height: 350px; padding: 50px 0; margin: 0 auto; text-align: center; }
.ultimo-jogo .centraliza .wrap-carousel { position: relative; margin: 0 auto; text-align: center; width: 900px;}
.ultimo-jogo .centraliza .wrap-carousel img { width: 100%; height: 285px; padding: 0 12px;}
.ultimo-jogo .centraliza .wrap-carousel .seta.seta_esq { position: absolute; top: 30%; left: -13%; z-index: 5; font-size: 80px; color: #ef580f;}
.ultimo-jogo .centraliza .wrap-carousel .seta.seta_dir { position: absolute; top: 30%; right: -13%; z-index: 5; font-size: 80px; color: #ef580f;}
.ultimo-jogo .centraliza .wrap-carousel .seta.seta_esq:hover { font-size: 90px;}
.ultimo-jogo .centraliza .wrap-carousel .seta.seta_dir:hover { font-size: 90px;}
.ultimo-jogo .centraliza .historia .wrap-fotos { width: 400px; height: 350px; padding: 50px 0; margin: 0 auto; text-align: center; }
.ultimo-jogo .centraliza .historia .wrap-carousel { position: relative; margin: 0 auto; text-align: center; width: 400px;}

.ultimo-jogo .text {  border-radius: 10px;  width: 600px; padding: 50px; background-color: #e1a15c; border: 2px solid #fb7f36; height: 600px; text-align: justify; opacity: 08;}
.ultimo-jogo .text h1 { font-size: 40px; color: #EF580F; font-weight: bold;}
.ultimo-jogo .text h2 { font-size: 35px; color: #EF580F; font-weight: bold;}
.ultimo-jogo .text p { font-size: 14px; color: #ff4400; font-weight: bold;}

.ultimo-jogo .artilharia { border-radius: 10px; width: 600px; padding: 50px; background-color: #e1a15c; border: 2px solid #fb7f36; height: 700px; text-align: justify; margin: 0 auto; opacity: 0.8;}
.ultimo-jogo .artilharia .dados { display: flex; flex-wrap: wrap;}
.ultimo-jogo .artilharia h1 { font-size: 40px; font-weight: bold; color: #ff4400; text-align: center;}
.ultimo-jogo .artilharia .dados .jogador p { font-size: 16px; color: #EF580F; font-weight: bold; margin: 0 30px;}
.ultimo-jogo .artilharia .dados .jogador { font-size: 16px; color: #EF580F; font-weight: bold;}
.ultimo-jogo .artilharia .dados .parte1 .jogador .number  { font-size: 16px; color: #EF580F; font-weight: bold; }
.ultimo-jogo .artilharia .dados .parte2 .jogador .number  { font-size: 16px; color: #EF580F; font-weight: bold; margin: 0 30px;}

.wrap-fotos h2 { font-size: 35px; widows: 300; height: 50px; background: #e1a15c; color: #ff4400; border-radius: 10px; }


